§ * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

h1 {
    color: red;
    font-size: 9rem;
}